nav {
	background: #765C3D !important;
}
nav a {
	font-family: 'Montserrat';
	font-style: normal !important;
	font-weight: 500 !important;
	font-size: 18px !important;
	line-height: 22px;
	/* identical to box height */
	text-align: center;

	color: #F2D2AE !important;
}

#hero {
	background: 
		linear-gradient(

			rgba(0, 0, 0, 0.59),
			rgba(0, 0, 0, 0.59)
			),

		url("./images/banner.png");
		background-repeat: no-repeat;
		background-size: cover;

	;
}

#banner-header {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 64px;
	line-height: 72px;
	/* or 112% */

	display: flex;
	align-items: flex-end;
	letter-spacing: -0.02em;

	color: #FFFFFF;
}

#banner-text {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 30px;

	color: #FFFFFF;
}

#banner-btn {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 12px 32px;
	gap: 8px;

	width: 180px;
	height: 48px;

	background: #B59066;
	border-radius: 999px;

	/* Inside auto layout */

	flex: none;
	order: 0;
	flex-grow: 0;

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
	/* identical to box height, or 120% */

	text-align: center;

	/* Button/Text/button-primary-text */

	color: #FFFFFF;
}


#page1-header {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 40px;
	line-height: 49px;
	/* identical to box height */

	text-align: center;

	color: #765C3D;
}

#page1-text {

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 29px;
	text-align: center;

	color: #765C3D;
}

#contact {
	background: #FFF2E4;
}

#contact-image {
	background: 
		url("./images/contact.png");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	;
}

#contact-header {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 40px;
	line-height: 49px;
	color: #765C3D;
}

#contact-text {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 29px;

	color: #765C3D;
}

#contact form label {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
	display: flex;
	align-items: center;

	color: #B59066;
}

#contact form input {
	border: 1px solid #B59066 !important;
	border-radius: 0 !important;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 29px;
	display: flex;
	align-items: center;

	color: #765C3D !important;
}

#contact form textarea {
	border: 1px solid #B59066 !important;
	border-radius: 0 !important;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 29px;
	display: flex;
	align-items: center;

	color: #765C3D !important;
}

#form-btn {
	padding: 12px 32px;
	gap: 8px;
	background: #B59066;
	border-radius: 999px;
	border: none;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
	text-align: center;
	color: #FFFFFF;
}
footer {
	background: #B59066;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	/* identical to box height */

	text-align: center;

	color: #FFF2E4;
}